$--color-text-master: #303133; //主要文字颜色
$--color-text-base: #606266; //文字主体色
$--color-text-secondary: #909399; //次要文字颜色
$--color-text-secondary: #C0C4CC; //占位文字颜色
$--color-text-link: #409eff; //链接色

$--color-bg-link: #409eff;
$--color-bg-empty: #f2f2f2;
$--color-bg-disabled: #cccccc;
$--color-bg-enabled: #ffffff;
$--color-bg-hover: #ecf5ff;

$--color-line-split: #DCDFE6;
$--color-lineWeight-split: #efefef;

$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;
$--color-base: #409EFF;


$--size-font-small: 1.2rem; 
$--size-font-base: 1.4rem; //字体基本大小
$--size-font-larger: 1.6rem; 

